$coco: #e3cc9f;
$white: #fff;
$whitel: #fcf8f1;
$black: rgb(26, 26, 26);
$blackl: #000;
$blackd: #2f2f2f;
$purple: rgb(172, 79, 152);
$red: #BA4C4A;
$yellow: rgb(249, 204, 115);
$blue: rgb(167, 181, 204);
$pink: rgb(248, 193, 186);
$greenl: #B9C89A;
$greend: #31511e;

$main11: rgb(97, 96, 154);
$main12: rgb(201, 66, 69);
$main1Side: rgb(248, 193, 186);
$main21: rgb(167, 181, 204);
$main22: rgb(133, 132, 189);
$main2Side: rgb(244, 237, 54);
$main31: rgb(181, 201, 149);
$main32: rgb(249, 204, 115);
$main3Side: rgb(172, 79, 152);
$main4: rgb(248, 193, 186);
$main4Side: rgb(55, 80, 39);

$font-title: "Titan One";

$box-line: 3px solid $black;
$box-line-sm: 2px solid $black;

$def-padding: 1rem 2rem;
$def-padding-md: 0.8rem 1rem;
$def-padding-sm: 0.5rem 1rem;

$player-h: 84px;
$player-h-md: 75px;
$player-h-sm: 70px;

$mobile-menu-h: 90px;


