$coco: #e3cc9f;
$white: #fff;
$whitel: #fcf8f1;
$black: rgb(26, 26, 26);
$blackl: #000;
$blackd: #2f2f2f;
$purple: rgb(172, 79, 152);
$red: #BA4C4A;
$yellow: rgb(249, 204, 115);
$greenl: #B9C89A;
$greend: #31511e;

$font-title: "Titan One";
$box-line: 3px solid $black;
$box-line-sm: 2px solid $black;

$def-padding: 1rem;
$def-padding-sm: 0.5rem;


