doctype html
html(lang="ko")
  head
    include ../partials/headIncl
  body
    block content
  script(src="/static/js/main.js") 
  script(src="/static/js/common.js") 
  script(src="/static/js/authMember.js") 
  block scripts