doctype html
html(lang="ko")
  head
    include ../partials/headIncl
  body
    if loggedIn
      input#loginStatus(type="hidden" value="true")
    else
      input#loginStatus(type="hidden" value="false")
    div.row 
      div.baseLayout-menu.col-md-auto.d-none.d-md-inline-block
        include ../partials/sideMenu
      div.coco-main-container.col-12.col-md
        main.coco-container
          block content
        include ../partials/footer
        
    //- hidden section
    div.hidden-section
      include ../partials/playList

    include ../partials/cocoPlayer
    
    div.d-md-none
      include ../partials/mobileMenu

    
  script(src="/static/js/main.js") 
  script(src="/static/js/common.js") 
  script(src="/static/js/playCoco.js") 
  block scripts