.mobile-logo-section {
  
  img {
    width: 50px;
  }
  .title {
    font-size: 2rem;
    color: $main11;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    span { margin-top: 5px; }
  }
  .member-cover {
    padding: 5px;
    img {
      margin-top: 7px;
      width: 45px;
      border-radius: 50%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

.main-content {
  margin: 2rem 0rem 3rem;
  h2 {
    font-size: 1.6rem;
    color: $blackd;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }
}


@media(min-width:768px) {
  .main-content {
    margin: 2rem 1.2rem 3rem;
  }
}