// [Mobile ver.]----------------------------------------------------------------
.coco-player-container {
  position: fixed;
  bottom: $mobile-menu-h;
  left: 0;
  right: 0;
  width: 100vw;
  height: $player-h-sm;
  background-color: rgba(97, 96, 154, 0.85);
  backdrop-filter: blur(15px);
}
// [1. progress bar]
.progress-bar-section {
  border-top: $box-line-sm;
  border-bottom: $box-line-sm;
  width: 100%;
  background-color: #ffffff4d;
  height: 10px;

  .progress-bar {
    height: 100%;
    width: 30%;
    background-color: $main2Side;
  }
}  

// [2. player controller]
.controller-section {
  height: calc(100% - 10px);
  width: 100%;
  .album-info {
    text-align: left;
  }
  .controller-cover {
    text-align: center;
  }
  .control-others {
    text-align: right;
  }
  .btn {
    color: $white;
    font-size: 1.4rem;
    background-color: transparent;
    width: 40px;
    height: 40px;
  }
  .btn.play, .btn.pause { 
    color: $main12; 
    font-size: 2.5rem;
    width: 60px;
    height: 60px;
  }
  
}

// [Tablet ver.]----------------------------------------------------------------
@media(min-width: 768px) {
  .coco-player-container {
    position: static;
    height: $player-h-md;
    background-color: $main11;
    backdrop-filter: none;
  }
  .progress-bar-section {
    border-top: $box-line;
    border-bottom:  $box-line;
  }  

  .controller-section {
    
  }

}

// [PC ver.]--------------------------------------------------------------------
@media(min-width: 1200px) {
  .coco-player-container {
    height: $player-h;
  }
}