// [Tablet & PC ver.]-----------------------------------------------------------
@media(min-width: 768px) {
  .sidemenu-contianer {
    padding: 1.2rem 1.2rem 0.3rem 0.8rem;
    width: 100%;
    height: calc(100vh - $player-h);

    .sidemenu-cover {
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      img.logo-img {
        position: absolute;
        top: -1.2rem;
        right: -2.5rem;
        width: 70px;
        transform: rotate(20deg);
        z-index: 5;
      }
    }
    .animation-box-cover, .side-menu {
      background-color: $main32;
      border: $box-line;
      overflow: hidden;
      height: 100%;
      transition: color 1s ease-in-out 0s, background-color 1s ease-in-out 0s;
    }
    .animation-box-cover {
      position: absolute;
      top: -0.8rem;
      right: -0.8rem;
      width: 100%;
      .animation-box {
        position: absolute;
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        top: -20px;
        left: -20px;
        pointer-events: none;
        background-image: radial-gradient(rgb(26, 26, 26) 30%, transparent 30%), 
          radial-gradient(rgb(26, 26, 26) 30%, transparent 30%);
        background-position: 0px 0px, 20px 20px;
        background-size: 8px 8px;
        transition: inherit;
        animation: 4s linear 0s infinite normal none running bURGXq;
      }
    }
    .side-menu {
      position: relative;
      max-height: 100%;
      z-index: 4;
      .title-cover {
        margin: 1.5rem 0;
        .title {
          font-size: 2.6rem;
          text-align: center;
          text-transform: uppercase;
          color: $main11;
        }
      }
    }
    .user-section {
      padding: 0 1rem;
      margin-bottom: 1.5rem;
    }
    .user-cover {
      color: $blackd;
      padding: 0.2rem 0;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      .profile {
        width: 45px;
      }
      img {
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50%;
      }
      .nickname {
        padding-left: 0.8rem;
        font-size: 1rem;
        font-weight: 600;
      }
      .dropdown-btn {
        background-color: transparent;
        border: none;
        padding: 5px 8px;
        font-size: 1rem;
        cursor: pointer;
      }
      .drop-down-menu {
        position: absolute;
        opacity: 0;
        display: none;
        top: 50px;
        left: -70px;
        width: 80px;
        height: 30px;
        padding: 0;
        background-color: $white;
        border-radius: 5px;
        text-align: center;
        transform: translateX(50%);
        button {
          background-color: transparent;
          border: none;
          padding: 5px;
          font-size: 1rem;
        }
      }
      .drop-down-menu.active {
        opacity: 1;
        top: 25px;
        display: block;
      }
    }
    .login-cover {
      text-align: center;
      margin-bottom: 1.5rem;
      div { 
        align-self: center;
        padding: 0 0.2rem;
      }
      a {
        color: $main11;
        font-size: 1.1rem;
      }
      .button { 
        color: $white;
        width: 95px; 
      }
    }

    .sidemenu {
      padding: 2rem 1.2rem;
      position: relative;
      margin-bottom: 1.5rem;
      &:before, &:after {
        // content: '';
        position: absolute;
        left: 1rem;
        right: 1rem;
        width: calc(100% - 2rem);
        border-top: solid 2px rgba(255, 255, 255, 0.5);
      }
      &:before {
        top: 0;
      }
      &:after {
        bottom: 0;
      }
      li {
        font-family: $font-title;
        margin-bottom: 1rem;
        font-size: 1.2rem;
        color: $blackd;
        text-transform: uppercase;
        i, a {transition: color 0.3s ease;}
        i {font-size: 1.2em;}
        span { margin-left: 0.5rem; }
        &:last-child { margin-bottom: 0;}
        &:hover, &.active { color: $main12; }
        .fa-music {
          position: absolute;
          font-size: 0.6em;
          padding: 1px;
          background-color: $main32;
          bottom: 1px;
          right: 0px;
        }
      }
      .icon-cover {
        width: 32px;
        text-align: center;
        display: inline-block;
        position: relative;
      }
      
    }

    .search-section {
      position: absolute;
      bottom: 1.2rem;
      left: 1rem;
      right: 1rem;
      width: calc(100% - 2rem);
      .search-cover {
        position: relative;
        width: 100%;
        height: 40px;
        border: solid 3px $black;
        padding-left: 1.7rem;
        background-color: $white;
        i {
          position: absolute;
          top: 50%;
          left: 5px;
          font-size: 1.2rem;
          transform: translateY(-50%);
        }
      }
      form, input { height:100%; }
      input {
        width: 100%;
        border: none;
        outline: none;
        font-size: 1rem;
        padding: 5px;
        &::placeholder { color: rgba(0, 0, 0, 0.3); }
      }
    }
  }
}
@media(min-width: 1200px) {
  .sidemenu-contianer {
    padding: 1.2rem 1.2rem 0.8rem 1rem;
    .sidemenu-cover {
      img.logo-img {
        position: absolute;
        right: -2.8rem;
        width: 75px;
      }
    }
    .user-cover {
      .profile {
        width: 50px;
      }
    }
    .side-menu {
      .title-cover {
        .title {
          font-size: 2.7rem;
          
        }
      }
      
    }
  }
}

// [Mobile ver.]----------------------------------------------------------------
.mobile-menu-container {
  background-color: $main32;
  width: 100vw;
  height: $mobile-menu-h;
  border-top: $box-line-sm;
}
.mobile-menu-cover {
  margin-top: 10px;
  text-align: center;
  font-weight: 600;
  a { color: $blackl; }
  a.active { color: $main12; }
  .icon-cover {
    margin-bottom: 5px;
    font-size: 1.4rem;
    position: relative;
    .fa-music {
      position: absolute;
      font-size: 0.6em;
      padding: 1px;
      background-color: $main32;
      bottom: 1px;
      right: 35%;
    }
  }
  .menu-name {
    font-size: 0.8rem;
    letter-spacing: -0.05em;
    text-transform: uppercase;
  }
  
}