.title-container {
  padding: 0.4rem;
 
  .title {
    color: $black;
    font-size: 7vmin;
    text-align: center;

    font-variation-settings: "slnt" 0;
    font-feature-settings: "calt" 0;
    font-style: normal;
    font-size: calc(var(164, 16) * 1px);
    font-weight: var(900, 900);
    font-stretch: calc(var(320, 490) * 1%);
  }
}
