extends base
include mixins/li.pug
include mixins/player.pug

block content
  div.container
    +player
    div.listmusic
      ul.lists
        each track, index in trackDetails
          +musiclist(track, index)