extends layout/baseLayout
include mixins/title.pug
include mixins/songList.pug

block content
  //- [mobile logo]
  div.mobile-logo-section.d-md-none
    div.row
      h1.title.col.align-self-center 
        img(src="/public/client/img/coco.png")
        span coconut
      div.member-cover.col-auto.align-self-center
        a(href="")
          img(src="/public/client/img/default_paper.png",
            style="background-image: url(/public/client/img/default_profile.jpg)")

  //- [1. mix tape]-------------------------------------------------------------
  div.main-box-content-section.main-content
    h2.title 
      a(href="") 
        span mix tape
        i.fa-solid.fa-caret-right.fa-fw
    div.main-box-content

  //- [2. top 10]---------------------------------------------------------------
  div.main-chart-content-section.main-content
    h2.title 
      a(href="") 
        span today's top 10
        i.fa-solid.fa-caret-right.fa-fw
    div.main-chart-content.row 
      div.col-12.col-md-6
        each topTrack in topTracks1
          +songList(topTrack, false)
      div.col-12.col-md-6
        each topTrack in topTracks2
          +songList(topTrack, false)

block scripts
  
