extends layout/base
include mixins/title.pug

block content
  div.main-box-content-section.main-content
    h2.title 
      a(href="") 
        span mix tape
        i.fa-solid.fa-caret-right.fa-fw
    div.main-box-content

  div.main-chart-content-section.main-content
    h2.title 
      a(href="") 
        span top 10
        i.fa-solid.fa-caret-right.fa-fw
    div.main-chart-content.row 
      div.col-12.col-md-6
        each track, index in topTracks1
          div.row 
            div.album-image 
            div.album-info 
              div.title=`${track.name}`
              div.artist=`${track.artist.name}`
      div.col-12.col-md-6
        each track, index in topTracks2
          div.row 
            div.album-image 
            div.album-info 
              div.title=`${track.name}`
              div.artist=`${track.artist.name}`
