extends ../layout/authLayout 
include ../mixins/title

block content 
  +title(title, "/")
  if errorMsg
    .errorMsg=errorMsg

  form(method="POST")
    .label ID
    input.coco-form(name="memberId" id="memberId" placeholder="ID" type="text", 
      required value=memberId autofocus)

    .label Password
    input.coco-form(name="password" id="password" placeholder="Password" 
      type="password", required, minLength="4" maxLength="15" autocomplete="new-password")

    button.button(type="submit") 
      span.button-back 
      span.button-front Log In 

  div
    span 아직 계정이 없다면? 
    a(href="/auth/loin") 회원가입