div.mobile-menu-container 
  div.mobile-menu-cover.row
    div.col 
      a.active(href="/")
        div.icon-cover
          i.fa-solid.fa-house-chimney-window
        div.menu-name home
    div.col 
      a(href="/")
        div.icon-cover
          i.fa-solid.fa-trophy 
        div.menu-name chart
    div.col 
      a(href="/")
        div.icon-cover
          i.fa-solid.fa-record-vinyl
        div.menu-name mix tape
    div.col 
      a(href="/")
        div.icon-cover
          i.fa-solid.fa-bars
          i.fa-solid.fa-music
        div.menu-name play list