div.sidemenu-contianer 
  div.sidemenu-cover 
    img.logo-img.jelly(src="/public/client/img/coco.png")
    div.animation-box-cover 
      span.animation-box
    div.side-menu
      div.title-cover
        div.title 
          a(href="/") coconut
      if loggedIn
        div.user-section 
          div.user-cover.row
            div.profile.col-auto
              img(src="/public/client/img/default_paper.png"
                style="background-image:url(/public/client/img/default_profile.jpg)") 
            div.col-auto.nickname.align-self-center #{loggedInUser.nickName}
            div.dropdown-section.col.align-self-center 
              button#dropdownBtn.dropdown-btn
                i.fa-solid.fa-caret-down
              div.drop-down-menu 
                form(method="POST", action="/auth/logout")
                  button.logout-btn(type="submit") logout
      else 
        div.login-cover.row 
          div.col-6.title 
            a(href="/auth/login") log in
          div.col-6
            a.button(href="/auth/join")
              span.button-back 
              span.button-front sign up
      ul.sidemenu
        li.active
          span.icon-cover
            i.fa-solid.fa-house-chimney-window
          span 
            a(href="/") home 
        li 
          span.icon-cover
            i.fa-solid.fa-trophy 
          span 
            a(href="/chart") chart 
        li 
          span.icon-cover
            i.fa-solid.fa-record-vinyl
          span 
            a(href="/mixtape") mix tape
        if loggedIn
          li 
            span.icon-cover
              i.fa-solid.fa-heart
            span 
              a(href="/archive") archive
        li 
          span.icon-cover
            i.fa-solid.fa-bars
            i.fa-solid.fa-music
          span 
            a(href="#") play list
      
      div.search-section 
        div.search-cover
          i.fa-solid.fa-magnifying-glass
          form(action="") 
            input(type="search", name="search", placeholder="search")

  
