div.sidemenu-contianer 
  div.sidemenu-cover 
    img(src="/public/client/img/coco.png")
    div.animation-box-cover 
      span.animation-box
    div.side-menu
      div.title-cover
        div.title coconut
      //- div.user-section 
      //-   div.user-cover.row
      //-     div.profile.col-auto
      //-       img(src="/public/client/img/coco.png") 
      //-     div.col.nickname.align-self-center lazyhysong
      div.login-cover.row 
        div.col-6.title 
          a(href="#") log in
        div.col-6
          a.button 
            span.button-back 
            span.button-front sign up
      ul.sidemenu
        li
          i.fa-solid.fa-house-chimney-window.fa-fw
          span home 
        li 
          i.fa-solid.fa-trophy.fa-fw 
          span chart 
        li 
          i.fa-solid.fa-record-vinyl.fa-fw
          span mix tape 
        li 
          i.fa-solid.fa-music.fa-fw
          span play list
  
